.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.image {
  height: 130px;
  width: 130px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  font-size: 18px;
  margin-right: 24px;
}

.res-card {
  background-color: #f0f0f0;
  padding: 5px;

  height: 350px;
  width: 200px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-img {
  width: 100%;
}

.res-Container {
  display: flex;
  padding: 10px;
}
